<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
 
</ion-content>

 <div class="screen">
   <div class="scan">
      <img id="logo" src="assets/logo.png">
   </div>
 </div>

<ion-footer class="ion-no-border">

  <ion-item *ngif="link"  id="footer" >
    <ion-label>
      <a href="leitura" target="blank">{{leitura}}</a>
    </ion-label>
  </ion-item>
  <ion-item *ngif="leitura">
    <ion-label position="stacked"></ion-label>
    <ion-input [(ngModel)]="leitura"> </ion-input>
  </ion-item>



 
    <ion-toolbar color="dark">
  <ion-button expand="block" (click)="lerQrcode()"> ESCANEAR </ion-button>
  </ion-toolbar>
</ion-footer>
